<div class="combat-screen">

  <div class="combat-interface">

    <div class="player-character">
      <h2>{{player?.name}}</h2>
      <div class="stats">
        <p>HP: <span id="player-hp">{{player?.health}}</span></p>
        <p>Energy: <span id="player-energy">{{player?.energy}}</span></p>
      </div>
    </div>
    
    <div class="enemy-character">
      <h2>Enemy Character</h2>
      <div class="stats">
        <p>HP: <span id="enemy-hp">100</span></p>
        <p>Energy: <span id="enemy-energy">50</span></p>
      </div>
    </div>

  </div>

</div>