<div>
  <button (click)="setView('main')">Main</button>
  <button (click)="setView('combat')">Combat</button>
  <button (click)="setView('character')">Character</button>
  <div>
      <ng-container *ngIf="currentView === 'main'">
        <app-main></app-main>
      </ng-container>
      <ng-container *ngIf="currentView === 'combat'">
        <app-combat></app-combat>
      </ng-container>
      <ng-container *ngIf="currentView === 'character'">
        <app-character></app-character>
      </ng-container>
  </div>
</div>